@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

body {
  background-color: #303030;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Nav Styles*/
.navheader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Open Sans";
  font-weight: 800px;
}

.fit {
  color: red;
  text-align: center;
  font-family: "Open Sans";
}

/* Image Styles */
img {
  display: flex;
  justify-content: center;
  width: 800px;
  height: auto;
}

/* text Styles*/
.textcont {
  color: white;
  font-family: "Open Sans";
  text-align: center;
  font-size: 25px;
}
/* Button Styles */
.btncontainer {
  display: flex;
  justify-content: center;
}
.mainbtn {
  background-color: red;
  color: white;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  border: none;
}

/* Bottom Styles*/
.bottom {
  color: white;
  margin-top: 50px;
  text-align: center;
}

.bottom a {
  color: red;
}
